.transform(@transform...){  
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -ms-transform: @arguments;
  -o-transform: @arguments;
  transform: @arguments;
}
.position(@pos:absolute,@l:"",@t:"",@r:"",@b:"",@zindex:""){
  position:@pos;
  .left() when not (@l = ""){left: @l};
  .left();  
  .top() when not (@t = ""){top: @t};
  .top();
  .right() when not (@r = ""){right: @r};
  .right();  
  .bottom() when not (@b = ""){bottom: @b};
  .bottom();
  .zindex() when not (@zindex=""){z-index:@zindex};  
  .zindex();
}
.size(@w:"",@h:""){  
  width:@w;
  height:@h;  
}
.transition(@set...){
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -ms-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}
.transition-property(@set...){
  -webkit-transition-property: @arguments;
  -moz-transition-property: @arguments;
  -ms-transition-property: @arguments;
  -o-transition-property: @arguments;
  transition-property: @arguments;
}
.preventSelect(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}






.fvnBox{
  .position(@pos:fixed,@l:0,@t:0,@zindex:9999);
  background:fade(#000,80%);
  .size(@w:100%,@h:100%);
}
.fvnInforBox{
  .position(@pos:fixed,@l:50%,@t:50%,@zindex:9999);
  .size(@w:100px,@h:100px);
  .transform(@transform:translate(-50%,-50%));
  .transition(@set:0.9s ease);
}
.fvnBox_number{
  .preventSelect();
  white-space: nowrap;
  .position(@t:calc(~"100% + 7px"));
  color: #fff;
  font-size: 20px;
}
.fvnBox_caption:extend(.fvnBox_number){
  max-width: 30%;
  text-overflow: ellipsis;
  overflow: hidden;
}
[class*="fvnNavBox"]{  
  > .fvnBox_close{
    display:none;    
    .size(@w:50px;@h:50px);    
    cursor: pointer;
    z-index:9999;
  }  
  &.fvnBox_show{
    > .fvnBox_close{
      display:block;
    }
    > .fvnBox_next, & > .fvnBox_prev{display: inline-block}
  }
}
.fvnBox_close{
  &:before,&:after{
    content:"";
    display:block;  
    .position(@l:0,@r:0,@t:0,@b:0,@zindex:10);  
    .size(@h:30px,@w:5px);
    background:#fff;    
    margin:auto;    
  }
  &:before{
    .transform(@transform:rotate(45deg));
  }
  &:after{
    .transform(@transform:rotate(-45deg));
  }
}
.fvnNavBox_pc:extend(.fvnInforBox){
  letter-spacing: -4px;
  .fvnBox{
    > &_close{
      display: none;
      .position(@l:100%,@t:0);
      .transition(@set: 0.5s ease);      
    }
    > &_x{
      left:calc(~"100% - 100px");
    }
    > &_y{
      left: calc(~"100% - 70px");
    }
    &_prev, &_next{
      position:relative;
      display:none;
      .size(@w:25%,@h:100%);
      cursor: pointer;
      &:before{
        content: "";
        .size(@w:30px,@h:30px);
        opacity: 0;
        .position(@t:0,@b:0);
        position: absolute;
        .transform(@transform:rotate(45deg));
        margin: auto 0;
        .transition(@set:0.2s ease);
      }
    }
    &_prev{
      border-top: 5px solid #fff;
      border-right: 5px solid #fff;
      right: 70px;
      float:right;
    }
    &_next{
      border-bottom: 5px solid #fff;
      border-left: 5px solid #fff;  
      left: 70px;
      float:left;
    }
  }         
}
.fvnNavBox_touch{
  > .fvnBox_close{
    .position(@r:3%,@t:3%);
  }  
}
.fvnBox_img{
  img{
    .preventSelect();
    white-space: nowrap;
    pointer-events:none;
    .position(@l:50%,@t:50%);
    .transform(@transform:translate(-50%,-50%));
    .transition(@set: 0.9s ease);
    opacity:0;
  }
  .fvnBox{
    &_Width, &_Height{
      .transform(@transform:none);
      .transition(@set:none);      
    }    
    &_Width{
      left:0;top:0;bottom:0;
      margin: auto 0;    
    }
    &_Height{
      left: 0;right: 0;top: 0;
      margin: 0 auto;
    }
  }
}
.fvnBox{
  &_none{.transition(@set:linear) !important;}
  &_quick, &_return{
    .transition(@set: 0.5s ease) !important;
  } 
  &_out{.transition(@set: 1.2s ease) !important;}
  &_fast{.transition(@set: 0.8s ease) !important;}
  &_appear{
    opacity:1;
    .transition(@set: 1.5s ease);
  }
  &_disappear{
    .transition(@set: 0.7s ease) !important;
  }
}
