.fvnBox {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
.fvnBox img {
  -webkit-touch-callout: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: nowrap;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
  opacity: 0;
}
.fvnBox .fvnBox_Width,
.fvnBox .fvnBox_Height {
  -webkit-transform: none;
  transform: none;
  -webkit-transition: none !important;
  transition: none !important;
}
.fvnBox .fvnBox_Width {
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.fvnBox .fvnBox_Height {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}
.fvnInforBox,
.fvnNavBox_pc,
.fvnBox_img {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
  -webkit-transition-property: left, opacity, width, height;
  transition-property: left, opacity, width, height;
}
.fvnBox_number,
.fvnBox_caption {
  -webkit-touch-callout: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: nowrap;
  position: absolute;
  top: calc(100% + 7px);
  color: #fff;
  font-size: 20px;
}
.fvnBox_caption {
  max-width: 30%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  right: 0;
}
[class*="fvnNavBox"] > .fvnBox_close {
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 9999;
}
[class*="fvnNavBox"].fvnBox_show > .fvnBox_close {
  display: block;
}
[class*="fvnNavBox"].fvnBox_show > .fvnBox_next,
[class*="fvnNavBox"].fvnBox_show > .fvnBox_prev {
  display: inline-block;
}
.fvnBox_close {
  display: none;
}
.fvnBox_close:before,
.fvnBox_close:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 5px;
  height: 30px;
  background: #fff;
  margin: auto;
}
.fvnBox_close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fvnBox_close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.fvnNavBox_pc {
  letter-spacing: -4px;
  z-index: 10001;
}
.fvnNavBox_pc > .fvnBox_close {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.fvnNavBox_pc > .fvnBox_x {
  left: calc(100% - 100px);
}
.fvnNavBox_pc > .fvnBox_y {
  left: calc(100% - 70px);
}
.fvnNavBox_pc > .fvnBox_prev,
.fvnNavBox_pc > .fvnBox_next {
  position: relative;
  display: none;
  width: 25%;
  height: 100%;
  cursor: pointer;
}
.fvnNavBox_pc > .fvnBox_prev:before,
.fvnNavBox_pc > .fvnBox_next:before {
  content: "";
  width: 30px;
  height: 30px;
  opacity: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.fvnNavBox_pc > .fvnBox_prev {
  float: right;
}
.fvnNavBox_pc > .fvnBox_prev:before {
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  right: 70px;
}
.fvnNavBox_pc > .fvnBox_prev:hover:before {
  right: calc(20%);
  opacity: 1;
}
.fvnNavBox_pc > .fvnBox_next {
  float: left;
}
.fvnNavBox_pc > .fvnBox_next:before {
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
  left: 70px;
}
.fvnNavBox_pc > .fvnBox_next:hover:before {
  left: calc(20%);
  opacity: 1;
}
.fvnNavBox_touch > .fvnBox_close {
  display: block;
  position: absolute;
  top: 3%;
  right: 3%;
}
.fvnBox_img {
  background: #fff;
}
.fvnBox_none {
  -webkit-transition: linear !important;
  transition: linear !important;
}
.fvnBox_quick,
.fvnBox_return {
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
}
.fvnBox_out {
  -webkit-transition: 1.2s ease !important;
  transition: 1.2s ease !important;
}
.fvnBox_fast {
  -webkit-transition: 0.8s ease !important;
  transition: 0.8s ease !important;
}
.fvnBox_appear {
  opacity: 1 !important;
  -webkit-transition: 1.5s ease !important;
  transition: 1.5s ease !important;
}
.fvnBox_disappear {
  -webkit-transition: 0.7s ease !important;
  transition: 0.7s ease !important;
}
.fvnBox_hidden {
  display: none !important;
}
.fvnScrollBox {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.fvnScrollBox_cnt {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
  overflow: hidden;
}
.fvnBox_showX:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}
.fvnBox_showX:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 20px;
  border-radius: 8px;
  background: #444;
}
.fvnBox_showY:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 30px;
  height: 100%;
  border-radius: 5px;
}
.fvnBox_showY:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 20px;
  height: 100%;
  border-radius: 8px;
  background: #444;
}
.fvnBox_scroller {
  position: absolute;
  border-radius: 5px;
  background: #b1b1b1;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: nowrap;
  z-index: 10000;
}
